<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication"
    android:usesCleartextTraffic="true">
<!--    To require internet connection because of the API call-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- For network connectivity monitoring -->


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Flood Watch"
        android:roundIcon="@mipmap/round_icon_flood_watch"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.FloodWatch">



        <activity
            android:name=".activities.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.auth.SignupActivity"
            android:exported="false" />

        <activity
            android:name=".activities.auth.UploadProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.SignUpAsGoogleActivity"
            android:exported="false" />

        <activity
            android:name=".activities.auth.LinkGoogleAccountActivity"
            android:exported="false" />

        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false"
            android:parentActivityName=".activities.HomeActivity" />

        <activity
            android:name=".activities.AnnouncementActivity"
            android:exported="false"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.auth.EmailVerificationActivity"
            android:exported="false" />

    </application>

</manifest>